body {
  font-family: "Roboto", sans-serif;
  color: #172b4d;
  background-color: #0079bf;
}

p {
  font-size: 15px;
  font-weight: 400;
}

.list-container {
  min-height: 90vh;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
}
